---
import Gredcom from "../components/Gredcom.astro";
import HeroSection from "../components/HeroSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Edgeering from "../components/Edgeering.astro";
import Bandamas from "../components/Bandamas.astro";
import TargetGrass from "../components/TargetGrass.astro";
import Turfted from "../components/Turfted.astro";
import Horticola from "../components/Horticola.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gredcom - Expertos en césped artificial y soluciones exteriores">
  <LandingHeader />

  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth "
  >
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <Turfted />
    </div>
    <div class="snap-center">
      <Bandamas />
    </div>
    <div class="snap-center">
      <Edgeering />
    </div>
    <div class="snap-center">
      <TargetGrass />
    </div>
    <div class="snap-center">
      <Horticola />
    </div>
    <div class="snap-center">
      <Gredcom />
    </div>
  </main>
</Layout>
