---
import Section from "./Section.astro"
---

<Section
  title="Todo sobre el césped artificial en Gredcom."
  subtitle="Desde el mejor césped artificial hasta soluciones integrales para tus instalaciones, complementos y herramientas para facilitar tu trabajo."
  color="white"
  id="home"
>
  <div slot="footer">
    <a
      class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="#"
    >
      Visita el catálogo</a
    >
  </div>

  <video
    slot="background"
    class="object-center object-cover h-full w-full"
    autoplay
    muted
    loop
    src="/MockupWeb.webm"></video>
</Section>
